.CrewDets{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    overflow-y: hidden;
}
.title, .cname{
    font-family: 'Bellefair', serif;
    text-transform: uppercase;
}
.title{
    color: rgba(255, 255, 255, 0.586);
    font-size: 2rem;
    padding-bottom: 3%;
}
.cname{
    color: white;
    font-size: 3.5rem;
    padding-bottom: 5%;
}
.mmbrtxt{
    font-family: 'Barlow', sans-serif;
    color: #D0D6F9;
    font-size: 1rem;
    padding-bottom: 5%;
    width: 80%;
}
.abtmmbr{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 4rem;
    width: 50%;
}
.sep{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.crewmem{
    width: 30%;
    padding-right: 8rem;
    height: auto;
    position: absolute;
    bottom: 0;
    right: 0;
}
@media only screen and (max-width: 1197px){
    .abtmmbr{
        width: 58%;
    }
    .crewmem{
        padding-right: 5rem;
    }
 }
 @media only screen and (max-width: 1073px){
    
}
@media only screen and (max-width: 943px){
    .title{
        font-size: 1.8rem;
    }
    .cname{
        font-size: 3.1rem;
    }
    .mmbrtxt{
        font-size: .9rem;
        padding-bottom: 8%;
    }
    .crewmem{
        width: 35%;
        padding-right: 2rem;
    }
    .abtmmbr{
        padding-top: 8rem;
        width: 65%;
    }
}
@media only screen and (max-width: 843px){
    
}
@media only screen and (max-width: 768px){
    .CrewDets{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-top: 6%;
    }
    .abtmmbr{
        width: 70%;
        padding-top: 5%;
        align-items: center;
    }
    .mmbrtxt{
        width: 100%;
        text-align: center;
    }
    .crewmem{
        width: 50%;
        height: auto;
        padding: 0;
        position: relative;
    }
    .title{
        text-align: center;
    }
    .cname{
        text-align: center;
    }
}
@media only screen and (max-width: 668px){
    .abtmmbr{
        width: 100%;
        padding-top: 5%;
    }
}
@media only screen and (max-width: 568px){
    .title{
        font-size: 1.6rem;
        padding-bottom: 1%;
    }
    .cname{
        font-size: 2.7rem;
        padding-bottom: 1%;
    }
    .mmbrtxt{
        font-size: .8rem;
        padding-bottom: 8%;
    }
    .crewmem{
        width: 60%;
    }
}
@media only screen and (max-width: 468px){
    .crewmem{
        width: 52%;
        padding-top: 8%;
    }
    .title{
        font-size: 1.2rem;
    }
    .cname{
        font-size: 2rem;
        padding-bottom: 5%;
    }
}
@media only screen and (max-width: 376px){
    .title{
        font-size: 1.2rem;
    }
    .cname{
        font-size: 2.2rem;
        padding-bottom: 1%;
    }
    .mmbrtxt{
        font-size: .7rem;
    }
    .crewmem{
        width: 60%;
    }
}