.Crew{
    background-image: url("./images/crew/background-crew-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: hidden;
}
.cbbdy{
    height: 100%;
    padding: 15% 10% 0 10%;
    box-sizing: border-box;
}
@media only screen and (max-width: 943px){
    
}
@media only screen and (max-width: 843px){
    .cbbdy{
        padding: 10rem 5% 2rem 5%;
    }
}
@media only screen and (max-width: 768px){
    .Crew{
        background-image: url("./images/crew/background-crew-tablet.jpg");
        height: fit-content;
    }
}
@media only screen and (max-width: 568px){
    .cbbdy{
        padding: 8rem 5% 2rem 5%;
    }
}
@media only screen and (max-width: 376px){
    .Crew{
        background-image: url("./images/crew/background-crew-mobile.jpg");
        height: 100vh;
    }
    .cbbdy{
        padding: 5rem 5% 2rem 5%;
        height: fit-content;
    }
}

