.Crew{
    background-image: url("./images/crew/background-crew-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: hidden;
}
.cbbdy{
    height: 100%;
    padding: 15% 10% 0 10%;
    box-sizing: border-box;
}
@media only screen and (max-width: 943px){
    .cbbdy{
        padding: 15% 8% 0 8%;
    }
}
@media only screen and (max-width: 843px){
    .cbbdy{
        padding: 19% 9% 0 9%;
        overflow-y: hidden;
    }
    .lds1{
        font-size: 1.4rem;
    }
    .Crew{
        overflow-y: visible;
    }
}
@media only screen and (max-width: 568px){
    .lds1{
        font-size: 1.3rem;
    }
    .cbbdy{
        padding: 25% 7% 0 7%;
    }
}
@media only screen and (max-width: 468px){
    .lds1{
        font-size: 1.1rem;
    }
    .cbbdy{
        padding: 27% 6% 0 6%;
        width: 100%;
    }
}

/* @media only screen and (max-width: 1073px){
    .HomeNav{
        height: 19%;
    } 
}

@media only screen and (max-width: 768px){
    .HomeNav{
        justify-content: space-between;
    }
    .navhr{
        display: none;
    }
    .nav{
        width: 70%;
    }
    .logo{
        width: 6%;
    }
    .nmbr{
        display: none;
    }
}
@media only screen and (max-width: 668px){
    .HomeNav{
        height: 17%;
} 
    .nav{
        padding-left: 5%;
        padding-right: 5%;
    }
    .logo{
        width: 6%;
    }
}

@media only screen and (max-width: 468px){
    .HomeNav{
        height: 15%;
        padding: 4% 0 4% 4%;
} 
.route{
        font-size: .75rem;
}
    .logo{
        width: 7%;
    }
    .nav{
        width: 78%;
        padding-left: 2%;
        padding-right: 2%;
    }
    .hm{
        border-bottom: 2px solid white;
    }
    .sbnv:hover{
        border-bottom: 2px solid rgba(255, 255, 255, 0.556);
    }
}
@media only screen and (max-width: 376px){
    .HomeNav{
        height: 15%;
        padding: 4% 7%;
} 
.ham{
        display: block;
        width: 7%;
}
.route{
        font-size: 1rem;
}
    .logo{
        width: 12%;
        height: 53%;
    }
    .nav{
        /* display: none; */
        /* height: 665%;
        z-index: 1;
        width: 70%;
        display: flex;
        flex-direction: column;
        position: absolute;
        box-sizing: border-box;
        justify-content: right;
        padding-left: 6%;
        padding-right: 0;
        padding-top: 10%;
        top: 0;
        right: -278px;
        align-items: flex-start;
        transition: right .3s;
    }
    .hm{
        border-bottom: none;
        border-right: 3px solid white;
        width: 100%;
    }
    .close{
        display: block;
    }
    .sbnv{
        gap: 9%;
        height: 9%;
        padding: 5% 3%;
        box-sizing: border-box;
        cursor: pointer;
        align-items: center;
        width: 100%;
    }
    .nmbr{
        display: block;
    }
    .sbnv:hover{
        border-bottom: none;
    }
    .cls{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding: 0 12% 17% 0;
        box-sizing: border-box;
    }
}
@media only screen and (max-width: 276px){
    .HomeNav{
        height: 12%;
        padding: 0 7%;
} 
.ham{
        display: block;
        width: 6%;
}
.route,.nmbr{
        font-size: .9rem;
}
    .logo{
        width: 12%;
        height: 40%;
    }
    .nav{
        display: none;
        height: 835%;
        width: 70%;
        padding-left: 6%;
        padding-top: 10%;
        /* right: -276px; */
    /* } */
    /* .close{
        width: 10%;
    }
    .sbnv{
        gap: 9%;
        height: 9%;
        padding: 5% 3%;
    }
    .sbnv:hover{
        border-bottom: none;
        border-right: 3px solid rgba(255, 255, 255, 0.556);
    }
    .cls{
        width: 100%;
        padding: 0 12% 17% 0;
    }
} */ 