@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap');

.HomeNav{
    display: flex;
    flex-direction: row;
    position: absolute;
    padding: 3% 0 3% 3%;
    height: 23%;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}
.ham{
    display: none;
}
hr{
    width: 35%;
    z-index: 0;
    height: 1.5px;
    border: none;
    background-color: rgba(255, 255, 255, 0.395);
}
.logo{
    width: 3%;
    height: auto;
}
.nav{
    z-index: 1;
    width: 55%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: space-between;
    padding-left: 8%;
    padding-right: 10%;
    background-color: #ffffff07;
    height: 100%;
    align-items: center;
    backdrop-filter: blur(20px);
    position: relative;
}
.sbnv{
    display: flex;
    flex-direction: row;
    gap: .5rem;
    height: 100%;
    padding: 5% 0;
    width: auto;
    box-sizing: border-box;
    cursor: pointer;
    align-items: center;
    border-bottom: 3px solid transparent;
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    transition: .2s;
}
.nmbr, .route{
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.1rem;
}
.route{
    text-transform: uppercase;
}
.nmbr{
    font-weight: bolder;
}

.sbnv:hover{
    font-weight: 800;
    border-bottom: 3px solid rgba(255, 255, 255, 0.556);
}
.hm{
    border-bottom: 3px solid white;
    color: white;
}
.hm:hover{
    border-bottom: 3px solid white;
    font-weight: 800;
}
.close, .cls{
    display: none;
}
@media only screen and (max-width: 1197px){
    .nav{
        width: 60%;
    }
}
@media only screen and (max-width: 1073px){
    .HomeNav{
         height: 20%;
    } 
    .nav{
        padding: 0 5%;
    }
 }
 @media only screen and (max-width: 943px){
    .HomeNav{
        gap: 1rem;
    }
    .nav{
        width: 70%;
    }
    .logo{
        width: 4%;
        height: auto;
    }
    hr{
        height: 1px;
    }
    .nmbr, .route{
        font-size: 1rem;
    }
 }
 @media only screen and (max-width: 768px){
    .HomeNav{
        justify-content: space-between;
        padding: 0 0 0 4%;
        height: 4.5rem;
    }
    .navhr, .nmbr{
        display: none;
    }
    .logo{
        width: 5%;
    }
 }
 @media only screen and (max-width: 568px){
    .route{
        font-size: .9rem;
    }
    .nav{
        width: 85%;
    }
    .logo{
        width: 2rem;
    }
 }
 @media only screen and (max-width: 468px){
    .HomeNav{
        height: 4rem;
    }
 }
 @media only screen and (max-width: 376px){
    .HomeNav{
        padding: 1rem;
        overflow: visible;
   } 
   .ham, .close{
        display: block;
        width: 1rem;
        height: auto;
   }
   .route{
        font-size: .8rem;
   }
    .logo{
        width: 1.5rem;
    }
    .nav{
        height: 100vh;
        width: 70%;
        display: none;
        background: #0b0e17;
        flex-direction: column;
        position: absolute;
        box-sizing: border-box;
        justify-content: right;
        padding-left: 6%;
        padding-right: 0;
        padding-top: 10%;
        top: 0;
        right: 0;
        align-items: flex-start;
        transition: right .3s;
    }
    .hm{
        border-bottom: none;
        border-right: 3px solid white;
        width: 100%;
    }
    .sbnv{
        gap: 9%;
        height: 9%;
        padding: 5% 3%;
        box-sizing: border-box;
        cursor: pointer;
        align-items: center;
        width: 100%;
    }
    .nmbr{
        display: block;
    }
    .sbnv:hover{
        border-bottom: none;
    }
    .cls{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding: 0 12% 10% 0;
        box-sizing: border-box;
    }
 }
 @media only screen and (max-width: 276px){
    .HomeNav{
        height: 12%;
        padding: 0 7%;
   } 
   .ham{
        display: block;
        width: 6%;
   }
   .route,.nmbr{
        font-size: .9rem;
   }
    .logo{
        width: 12%;
        height: 40%;
    }
    .nav{
        display: none;
        height: 835%;
        width: 70%;
        padding-left: 6%;
        padding-top: 10%;
        /* right: -276px; */
    }
    .close{
        width: 10%;
    }
    .sbnv{
        gap: 9%;
        height: 9%;
        padding: 5% 3%;
    }
    .sbnv:hover{
        border-bottom: none;
        border-right: 3px solid rgba(255, 255, 255, 0.556);
    }
    .cls{
        width: 100%;
        padding: 0 12% 17% 0;
    }
 }