body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  /* -moz-osx-font-smoothing: grayscale; */
}

body, html, #root{
  width: 100vw;
  height: fit-content;
  box-sizing: border-box;
  background-color: #0b0e17;
  scroll-behavior: smooth;
}