.Location{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 6% 0 0 5%;
}
.planet{
    width: 35%;
}
.abtplt{
    width: 40%;
    display: flex;
    flex-direction: column;
}
.pltnm{
    font-size: 5rem;
    color: white;
    text-transform: uppercase;
    font-family: 'Bellefair', serif;
    margin: 5% 0;
}
.plttxt{
    font-family: 'Barlow', sans-serif;
    color: #D0D6F9;
    font-size: 1rem;
    padding-bottom: 6%;
    letter-spacing: .6px;
}
.pltdets{
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.distance, .time{
    display: flex;
    flex-direction: column;
}
.dtnce, .tme{
    color: #D0D6F9;
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    font-size: .9rem;
    padding-bottom: 6%;
    word-spacing: 5px;
    letter-spacing: 2px;
}
.dtncenm, .tmenm{
    color: white;
    font-family: 'Bellefair', serif;
    text-transform: uppercase;
    font-size: 1.8rem;
}
.dvd{
    width: 100%;
}
@media only screen and (max-width: 1197px){
    .planet{
        width: 32vw;
        height: 32vw;
    }
}
@media only screen and (max-width: 1073px){
    .abtplt{
        width: 45%;
    }
    .Location{
        padding-left: 0;
        align-items: center;
    }
    .planet{
        width: 35vw;
        height: 35vw;
    }
}
@media only screen and (max-width: 943px){
    .pltnm{
        font-size: 4.5rem;
    }
    .plttxt{
        font-size: .9rem;
    }
    .dtnce, .tme{
        font-size: .8rem;
    }
    .dtncenm, .tmenm{
        font-size: 1.6rem;
    }
}
@media only screen and (max-width: 768px){
    .Location{
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        height: fit-content;
    }
    .pltdets{
        width: 100%;
    }
    .abtplt{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .planet{
        width: 50vh;
        height: 50vh;
    }
    .plttxt{
        text-align: center;
    }
}
@media only screen and (max-width: 568px){
    .pltnm{
        font-size: 4rem;
    }
    .plttxt{
        font-size: .8rem;
    }
    .dtnce, .tme{
        font-size: .7rem;
    }
    .dtncenm, .tmenm{
        font-size: 1.4rem;
    }
    .abtplt{
        width: 100%;
    }
    .planet{
        width: 40vh;
        height: 40vh;
    }
}
@media only screen and (max-width: 376px){
    .pltnm{
        font-size: 3rem;
    }
    .plttxt{
        font-size: .7rem;
    }
    .dtncenm, .tmenm{
        font-size: 1.7rem;
        
    }
    .planet{
        width: 30vh;
        height: 30vh;
    }
    .Location{
        padding: 2rem 0 0 5%;
        gap: 2rem;
        height: fit-content;
    }
    .pltdets{
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }
    .distance, .time{
        align-items: center;
    }
}