.NumSlide{
    display: flex;
    flex-direction: column;
    width: 10%;
    gap: 10%;
    height: 50%;
    align-items: center;
}
.snum{
    font-family: 'Bellefair', serif;
    text-transform: uppercase;
    color: white;
    font-size: 2rem;
    background-color: transparent;
    padding: 8%;
    width: 30%;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.281);;
    border-radius: 30px;
    cursor: pointer;
}
.snum:hover{
    border: 1px solid white;
}
.act{
    background-color: white;
    color: black;
}

 @media only screen and (max-width: 1197px){
    .snum{
        width: 35%;
    }
 }
 @media only screen and (max-width: 1073px){
    .snum{
        width: 40%;
    }
}
@media only screen and (max-width: 943px){
    .snum{
        width: 45%;
    }
}
@media only screen and (max-width: 843px){
    .snum{
        width: 50%;
    }
}
@media only screen and (max-width: 768px){
    .CrewDets{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        height: 100%;
        align-items: center;
        padding-top: 6%;
        
    }
    .abtmmbr{
        width: 80%;
        padding-top: 5%;
        align-items: center;
    }
    .mmbrtxt{
        font-family: 'Barlow', sans-serif;
        color: #D0D6F9;
        font-size: .9rem;
        padding-bottom: 10%;
        width: 100%;
        text-align: center;
    }
    .crewmem{
        width: 40%;
        height: 70%;
        padding-top: 5%;
    }
    .title{
        font-size: 1.6rem;
    }
    .cname{
        font-size: 2.8rem;
        padding-bottom: 5%;
    }
}