.NumSlide{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 14rem;
    align-items: center;
    justify-content: space-between;
}
.snum{
    font-family: 'Bellefair', serif;
    text-transform: uppercase;
    color: white;
    font-size: 2rem;
    background-color: transparent;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.281);;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}
.snum:hover{
    border: 1px solid white;
}
.act{
    background-color: white;
    color: black;
}

 @media only screen and (max-width: 1197px){
    .snum{
        width: 3rem;
        height: 3rem;
    }
 }
 @media only screen and (max-width: 1073px){
    .snum{
        font-size: 1.7rem;
    }
}
@media only screen and (max-width: 943px){
    
}
@media only screen and (max-width: 843px){
    
}
@media only screen and (max-width: 768px){
    .NumSlide{
        flex-direction: row;
        width: 40vw;
        height: fit-content;
    }
}
@media only screen and (max-width: 568px){
    .snum{
        font-size: 1.5rem;
    }
}
@media only screen and (max-width: 468px){
    .NumSlide{
        flex-direction: row;
        width: 60vw;
        height: fit-content;
    }
}
@media only screen and (max-width: 376px){
    .snum{
        font-size: 1.2rem;
    }
}