.TechDets{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 85%;
}
.techtxt{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.liltxt{
    color: #D0D6F9;
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    font-size: .8rem;
    padding-bottom: 6%;
    word-spacing: 5px;
    letter-spacing: 2px;
}
.tchprdct{
    font-family: 'Bellefair', serif;
    text-transform: uppercase;
    color: white;
    font-size: 3rem;
    padding-bottom: 5%;
}
.tchdesc{
    font-family: 'Barlow', sans-serif;
    color: #D0D6F9;
    font-size: .9rem;
    width: 80%;
}
.techimg{
    width: 35%;
}


@media only screen and (max-width: 1197px){
    .crewmem{
        /* width: 35%; */
    }
 }
 @media only screen and (max-width: 1073px){
    .crewmem{
        width: 40%;
    }
}
@media only screen and (max-width: 943px){
    .TechDets{
        align-items:flex-start;
        padding-top: 10%;
    }
}
@media only screen and (max-width: 843px){
    .crewmem{
        width: 46%;
        height: 100%;
        padding-top: 0;
    }
    .title{
        font-size: 1.4rem;
    }
    .cname{
        color: white;
        font-size: 2.8rem;
        padding-bottom: 5%;
    }
    .abtmmbr{
        padding-top: 10%;
    }
}
@media only screen and (max-width: 768px){
        .TechDets{
            display: grid;
            grid-auto-flow: row;
            height: 85%;
            overflow-y: scroll;
        }
        .techtxt{
            display: flex;
            flex-direction: column;
            width: 40%;
        }
        .liltxt{
            color: #D0D6F9;
            font-family: 'Barlow Condensed', sans-serif;
            text-transform: uppercase;
            font-size: .8rem;
            padding-bottom: 6%;
            word-spacing: 5px;
            letter-spacing: 2px;
        }
        .tchprdct{
            font-family: 'Bellefair', serif;
            text-transform: uppercase;
            color: white;
            font-size: 3rem;
            padding-bottom: 5%;
        }
        .tchdesc{
            font-family: 'Barlow', sans-serif;
            color: #D0D6F9;
            font-size: .9rem;
            width: 80%;
        }
        .techimg{
            width: 100%;
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 2;
        }
        .slidebtn{
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 3;
        }
        .techtxt{
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 3;
            grid-row-end: 4;
        }
}
@media only screen and (max-width: 668px){
    .crewmem{
        width: 46%;
        height: 50%;
        padding-top: 8%;
    }
    .title{
        font-size: 1.5rem;
    }
    .cname{
        font-size: 2.6rem;
        padding-bottom: 5%;
    }
    .abtmmbr{
        width: 100%;
        padding-top: 5%;
    }
}
@media only screen and (max-width: 568px){
    .crewmem{
        width: 48%;
        height: 55%;
        padding-top: 8%;
    }
    .title{
        font-size: 1.3rem;
    }
    .cname{
        font-size: 2.2rem;
        padding-bottom: 5%;
    }
}
@media only screen and (max-width: 468px){
    .crewmem{
        width: 48%;
        height: 55%;
        padding-top: 8%;
    }
    .title{
        font-size: 1.2rem;
    }
    .cname{
        font-size: 2rem;
        padding-bottom: 5%;
    }
}
/*  */
/* 

@media only screen and (max-width: 276px){
    .HomeNav{
        height: 12%;
        padding: 0 7%;
} 
.ham{
        display: block;
        width: 6%;
}
.route,.nmbr{
        font-size: .9rem;
}
    .logo{
        width: 12%;
        height: 40%;
    }
    .nav{
        display: none;
        height: 835%;
        width: 70%;
        padding-left: 6%;
        padding-top: 10%;
    }
    .close{
        width: 10%;
    }
    .sbnv{
        gap: 9%;
        height: 9%;
        padding: 5% 3%;
    }
    .sbnv:hover{
        border-bottom: none;
        border-right: 3px solid rgba(255, 255, 255, 0.556);
    }
    .cls{
        width: 100%;
        padding: 0 12% 17% 0;
    }
} */